#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --airblue: rgb(16, 160, 238);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: var(--airblue);
}
.logo-text {
  font-family: "Elms Sans", sans-serif;
}

.header .logo-text {
  font-size: 1.5em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-nav .nav-item {
  padding: 10px 30px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}
.header-nav .nav-item a {
  position: relative;
  color: white;
}
.header-nav .nav-item a:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  bottom: -4px;
  left: 0;
  background: linear-gradient(to right, white 80%, rgba(255, 255, 255, 0));
  transition: width 0.3s;
}
.header-nav .nav-item:hover a::after {
  width: 100%;
}
